.row-fluid
  .span4.well
    %h3 Tamaño promedio de cola de router
    %h2.router-queue-length
  .span4.well
    %h3 Tamaño promedio de cola de servidores
    %h2.mean-queue-length
    %h6 Media
    %h3.std-dev-queue-length
    %h6 Desviación estándar
  .span4.well
    %h3 Tiempo ocioso promedio
    %h2.mean-idle-time
    %h6 Media
    %h3.std-dev-idle-time
    %h6 Desviación estándar
  .span4.well
    %h3 Duración promedio
    %h2.mean-duration
    %h6 Media
    %h3.std-dev-duration
    %h6 Desviación estándar
.row-fluid
  .span4.well
    %h3 Pedidos totales
    %h2.total
  .span4.well
    %h3 Pedidos aceptados
    %h2.accepted
  .span4.well
    %h3 Pedidos rechazados
    %h2.rejected
