.js-simulation.hidden{ "data-id" => @sim.id, "data-percentage" => @sim.percentage, "data-clients" => @sim.clients, "data-strategy" => @sim.strategy }
  %h3
    Simulando...
  .progress.progress-striped.active
    .bar{ :style => "width:#{@sim.percentage}%"}

.anim-loading.hidden
.js-simview.hidden
  %ul.nav.nav-pills
    %li.active
      %a.js-anim-toggle{:href => "#"} Animación
    %li
      %a.js-result-toggle{:href => "#"} Resultados
    / %li
    /   %a.js-graph-toggle{:href => "#"} Gráficos
  .js-sim-tab.tab
    = render(:partial => "animation")
  .js-result-tab.tab.hidden
    = render(:partial => "results")
  .js-graph-tab.tab
