.row-fluid
  .span4.well
    %h2.random Random Routing
    .random-results
  .span4.well
    %h2.random Round Robin Routing
    .round_robin-results
  .span4.well
    %h2.random Shortest Queue Routing
    .shortest_queue-results
  .span4.well
    %h2.random Smart Routing
    .smart-results
