.row-fluid
  .random-table
    %h2.random Random Routing
    %table.table.table-hover
      %thead.header-results
      %tbody.random-results
.row-fluid
  .round_robin-table
    %h2.random Round Robin Routing
    %table.table.table-hover
      %thead.header-results
      %tbody.round_robin-results
.row-fluid
  .shortest_queue-table
    %h2.random Shortest Queue Routing
    %table.table.table-hover
      %thead.header-results
      %tbody.shortest_queue-results
.row-fluid
  .smart-table
    %h2.random Smart Routing
    %table.table.table-hover
      %thead.header-results
      %tbody.smart-results
