.js-comparison.hidden{ "data-id" => @comp.id, "data-percentage" => @comp.percentage }
  %h3
    Simulando...
    (
    %span.amount
    de
    %span.total
    )
  .progress.progress-striped.active
    .bar{ :style => "width:#{@comp.percentage}%"}

.anim-loading.hidden
.js-compview.hidden
  %ul.nav.nav-pills
    %li.active
      %a.js-graph-toggle{:href => "#"} Gráfico
    %li
      %a.js-result-toggle{:href => "#"} Resultados
  .js-graph-tab.tab
    = render(:partial => "graph")
  .js-result-tab.tab.hidden
    = render(:partial => "results")


